<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fibe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <!-- <nav>
    <a href="#header" id="logo">fibe</a>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav> -->

  <article>
    <div class="wrapper">
      <div class="info">
        <h1>fibe</h1>
        <h2>Some sort of slogan here</h2>

        <div class="mobile-notification">
          <form role="form">
            <label class="sr-only" for="email">We're launching soon.</label>
            <input name="email" type="email" id="mobile-email" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <button id="mobile-submit" type="submit" class="button">Notify me</button>
          </form>
        </div>

        <div class="social">
          <a href="#" title="">Facebook</a>
          <a href="#" title="">Twitter</a>
          <a href="#" title="">Email</a>
        </div>
      </div>

      <div class="phone">

        <div class="phone-content">
          <div class="notification">
            <form role="form">
              <div class="form-group">
                <label class="sr-only" for="email">We're launching soon.</label>
                <input name="email" type="email" id="email" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              </div>
              <button id="submit" type="submit" class="button">Notify me</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </article>

  <script src="/js/script.js"></script>
</body>
</html>
