<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Polymics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <article>
    <div class="wrapper">
      <div class="content">
        <div class="info">
          <h1>Polymics</h1>
          <h2>Game changed. We are on a mission to turn your smartphone device into a wireless microphone...</h2>

          <div class="mobile-notification">
            <form role="form">
              <label class="sr-only" for="email">We're launching soon.</label>
              <input name="email" type="email" id="mobile-email" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <button id="mobile-submit" type="submit" class="button">Notify me</button>
            </form>
          </div>

          <div class="social">
            <a href="#" title="" id="fb">Facebook</a>
            <a href="#" title="" id="tw">Twitter</a>
            <a href="#" title="" id="gplus">Google+</a>
            <a href="#" title="" id="email">Email</a>
          </div>
        </div>

        <div class="demo">
          <div class="phone">
            <div class="phone-content">
              <h1>Want the latest news?<br>Join our mailing list!</h1>

              <div class="phone-mic-green"></div>
              <div class="phone-mic"></div>

              <a id="show-form">Join the conversation!</a>

              <div class="notification">
                <form role="form">
                  <input name="email" type="email" id="email" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                  <button id="submit" type="submit" class="button">Notify me</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <script src="/js/script.js"></script>
</body>
</html>
