<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fibe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <nav>
    <a href="#header" id="logo">fibe</a>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <header id="header">
    <div class="header-content">
      <hgroup>
        <h1>fibe</h1>
        <h2>Some sort of lame slogan</h2>
      </hgroup>

      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="email">We're launching soon.</label>
          <input name="email" type="email" id="email" placeholder="Enter your email">
        </div>
        <button id="submit" type="submit" class="button">Notify me</button>
      </form>
    </div>

    <a href="#about" id="header-down">↓</a>
  </header>

  <section id="about">
    <div class="wrapper">
      <h3>About fibe</h3>
      <p>Fibe is the future of communication in a large room.</p>
    </div>
  </section>

  <section id="team">
    <div class="wrapper">
      <h3>Our team</h3>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>

      <div class="team-member">
        <img src="/images/person.jpg">
        <h4>Jeff Wu</h4>
        <h5>Dude</h5>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="wrapper">
      <h3>Get in touch!</h3>
    </div>
  </section>

  <footer>
    &copy; 2014 fibe
  </footer>

  <script type="text/javascript">
    $('#submit').click(function (event) {
      event.preventDefault();
      $.post('/', { email: $('#email').val() }, function (result) {
        if (result)
          alert('Thank you for your interest! You will be notified once we complete the product.');
        else
          alert('An error occurred. Please try again.');
      });
    });
  </script>
</body>
</html>
